@mixin button ($sizeW, $sizeH, $textColor, $bgColor) {
    width: $sizeW;
    height: $sizeH;
    color: $textColor;
    background-color: $bgColor;
    font-family: $font-style;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    outline: none;
    border: 0;
    cursor: pointer; 
}